.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.App-vc {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    min-width: 600px;
}

button.btn {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

.input-field {
    display: block;
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 1em;
    width: 100%;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}