.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.App-vc {
    margin: 0 auto;
    min-width: 600px;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 600px) {
    /* Styles */
    .App-vc {
        min-width: 100%;
    }
}

h1.title {
    text-align: center;
    margin: 0;
}

div.progression {
    text-align: center;
}

button.btn {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

.input-field {
    display: block;
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 1em;
    width: 100%;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

.help-block {
    color: #ccc;
    font-size: 12px;
    text-align: left;
}

button:disabled {
    cursor: not-allowed;
}

.btn-container {
    width: 100%;
    overflow: hidden;
}

.loader.custom-loader {
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    left: 50%;
}

i.play-btn {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

div.divider {
    width: 10%;
    margin: 2em auto;
    height: 1px;
    background-color: #aaa;
}

input
select:focus,
textarea {
  font-size: 16px;
}